Django>=2.1.11
# postgres
psycopg2-binary==2.8.3
# test and cov
coverage==4.5.2
pytest
pytest-django
pytest-cov
# lint
pylint==2.3.0
pylint-django==2.0.6
pylint-plugin-utils==0.5 
# env
python-dotenv==0.10.1 